[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ansible = "==2.8.6"
molecule = "==2.22"
docker = "==4.1.0"
jmespath = "==0.9.4"

[requires]
python_version = "3"
