{{ ansible_managed | comment }}

{% if mysql_global_variables.include_dirs is defined and mysql_global_variables.include_dirs|length > 0 %}
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
{% for include_dir in mysql_global_variables.include_dirs %}
!includedir {{ include_dir }}
{% endfor %}
{% endif %}

{% if mysql_global_variables.groups is defined and  mysql_global_variables.groups.items()|length > 0 %}
{% for group_name, options in mysql_global_variables.groups.items() %}
[{{ group_name }}]
{% for name, value in options.items() %}
{# replicate_ignore_table may be repeated more than once #}
{% if name == "replicate_ignore_table" %}
{% for table in value %}
{{ name }} = {{ table }}
{% endfor %}
{% else %}
{{ name }} = {{ value }}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
